/* Author: Devesh Siriwardene
Date: 07 05 2023
Version: Week 06
*/

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*
GLOBAL STYLES
------------------------------------------------------------------------------
------------------------------------------------------------------------------
*/

body {
    font-size: 20px;
    font-weight: 400;
    color: white;
    font-family: "Playfair Display", serif;
    background-image: url(Images/BGimage.jpg);
    background-position: right;
    background-size: cover;
    overflow-x: hidden;
}

/* I have used Background size cover so that a single background image stretches and covers the body area of each webpage*/

/* I have also used overflow: hidden in few elements to avoid the content from exceeding the dimensions when adjusting layouts*/

h2 {
    font-size: 1.7em;
    font-weight: 700;
    padding: 14px 20px 14px 20px;
}

/*
HEADER
--------------------------------------------------------------------------------
*/

header {
    margin-left: -1%;
    margin-right: -1%;
    display: flex;
    margin-top: -2%;
    background-color: #2f2e2e;
    height: 200px;
    justify-content: center;
    align-items: center;
}

header img {
    padding-top: 8% ;
    position: relative;
}
/* I have used margin minus percentages in several elements so that the background of each element stretches accross the screen a bit more than usual to cover any gaps in the edges*/

/*
NAVIGATION
--------------------------------------------------------------------------------
*/

ul.navbar {
    list-style-type: none;
    margin: 0% -2% 0% -2%;
    padding: 0;
    overflow: hidden;
    background-color: #1f231f;
    text-align: center;
}

/* I have used list style-style-type: none in few elements to remove defaulting bullet point or other listing styles for the list elements */

ul.navbar li {
    float: left;
    width: 25%;
}

ul.navbar li a {
    color: white;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    width: 50%;
    padding: 4% 25%;
    text-decoration: none;
    transition: 0.2s ease;
}

/* text decoration: none was used to remove the default hyperlink style for links in the webpage */

/*the transition property was used to smoothen the transition between two states of the element*/

ul.navbar li a:hover {
    background-color: #111;
}

/* the property :hover allows me to adjust appearance of the element when I hover my cursor over it; used for aesthetics of the website */

/* NAVIGATION DROP DOWN -------------------------------------------------------
 */

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #495749;
    width: 25.7%;
    z-index: 1;
}

/* the display: none is used to prevent the drop down from appearing by default when loading the webpage, I have used the hover tag along with display: block again below so that the dropdown appears only when my cursor goes over it */

/* position: absolute was used so that the dropdown ignores the respective layout of the website and appears infront without changing the layout, z-index: 1 was used to make sure the drop down appears on top of any stacked element container */

.dropdown .dropdown-content a {
    width: 50%;
    padding: 5% 25%;
    text-align: center;
    transition: 0.3s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*
NAVIGATION AT THE BOTTOM OF PAGE
---------------------------------------------------------------------------------
*/
ul.navbar-2 {
    list-style-type: none;
    margin: -2% -2% 0% -2%;
    overflow: hidden;
    background-color: #1f231f;
    text-align: center;
}

ul.navbar-2 li {
    float: left;
    width: 33.33%;
}

/*float: left has to be used to align the list elements horizontally, this can be also done with float: right */

ul.navbar-2 li a {
    color: white;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    width: 50%;
    padding: 4% 25%;
    text-decoration: none;
    transition: 0.2s ease;
}

ul.navbar-2 li a:hover {
    background-color: #111;
}
/*
INDEX PAGE
-----------------------------------------------------------===============================--------
-----------------------------------------------------------===============================--------
*/

/*
SLIDESHOW CONTAINER------------------------------------------------------------------------------
*/

#slideshow {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* I have used display: flex to make the container have flex properties, which will allow to adjust layout properties and alignment by using propereties such flex-direction: column */

/*flex-direction: column was used to vertically align the slideshow and the 3 dots container, if not the slideshow and 3 dots would be side-by-side */

.slideshow-container {
    position: relative;
}

.slideshow-container img {
    position: relative;
    vertical-align: middle;
    width: 100%;
    max-width: 900px;
    max-height: 600px;
    height: auto;
}

/* 
The slideshow dots ------------------------------------------------
*/
.dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 75%;
    display: inline-block;
    transition: 0.6s ease;
}

.active,
.dot:hover {
    background-color: #767676;
}

/* 
The slideshow fade animation ---------------------------------------
*/
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/*
general style used for blockquotes -----------------------------------------------------------
*/
blockquote {
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    border-style: double;
    border-width: 15px;
    border-color: #d0f9e8;
    padding: 1% 3% 1% 3%;
    width: 50%;
    color: white;
    text-align: center;
}

/*
ARTICLE 1 - CONTRIBUTE BUTTON ----------------------------------------------------------------
*/
#contribute-btn {
    margin: 0% -2% 0% -2%;
    background-color: #0e1c15;
    padding-bottom: 16px;
    padding-top: 3px;
    text-align: center;
    color: #d0f9e8;
}

#contribute-btn a {
    background-color: aliceblue;
    align-content: center;
    padding: 10px 50px;
    color: #010101;
    font-weight: 700;
    text-decoration: none;
    transition: 0.2s ease;
}

#contribute-btn a:hover {
    background-color: rgba(162, 228, 201, 0.99);
    color: white;
}
/*
ARTICLE 2 ----------------------------------------------------------------------
*/
/*
SECTION 1 - GIANT PANDA SUMMARY ------------------------------------------------
*/

#content-1 {
    background-color: #eaeaeaff;
    margin: 0% -2% 0% -2%;
    display: flex;
    align-items: center;
    color: black;
    column-gap: 30%;
    padding-left: 15%;
    padding-bottom: 5%;
}

#content-1 img {
    position: relative;
    width: 30% ;
    right: 14%;
}

/*
giant panda learn more link ------------
*/
#content-1 a {
    color: black;
    text-decoration: none;
    border: solid;
    border-color: black;
    padding: 5px 13px;
    transition: 0.2s ease;
}

#content-1 a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/*
giant panda paragraph -----------------
*/
#content-1 p {
    text-align: justify;
}

/*
SECTION 2 - RED PANDA SUMMARY -------------------------------------------------
*/

#content-2 {
    background-color: #c9a387ff;
    margin: 0% -2% 0% -2%;
    display: flex;
    align-items: center;
    color: black;
    column-gap: 30%;
    padding-right: 15%;
    padding-bottom: 5%;
}

/* column-gap allowed me to adjust the gap between two elements */

#content-2 img {
    position: relative;
    width: 30% ;
    left: 14%;
}

/*
red panda learn more link ------------
*/
#content-2 a {
    color: black;
    text-decoration: none;
    border: solid;
    border-color: black;
    padding: 5px 13px;
    transition: 0.2s ease;
}

#content-2 a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* the rbga (red,blue,green,alpha) property allows me to change the alpha value which is the transparency of the color */

/*
red panda paragraph -------------------
*/
#content-2 p {
    text-align: justify;
}

/*
SIDEBAR 
-------------------------------------------------------------------------------
*/

#sidebar {
    display: flex;
    column-gap: 15%;
    margin: 4% 19%;
    width: 100%;

}

#sidebar div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 17%;
    padding: 4%;
    background-color: white;
    text-align: center;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    box-shadow: 15px 15px;

}

/*
side bar external link style ------------
*/
#sidebar div a {
    color: #136a31;
    font-size: 1.5em;
    padding-bottom: 30px;
    border-bottom: solid;
    text-decoration: none;
}
#sidebar div i {
    font-size: 1.2em;
    color: #136a31;
}

/*
FOOTER
-------------------------------------------------------------------------
*/

footer {
    background-color: #2f2e2e;
    margin: 0% -2% 0% -2%;
    padding: 2%;
}

.footer-columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
}

/*
RED PANDA/GIANT PANDA CONTENT PAGES
-----------------------------------------------------------===============================--------
-----------------------------------------------------------===============================--------
*/

/*
Red Panda and Giant Panda Content Style for Article 1 ----------------------
*/
.page-contentvideo {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 3em;
    padding-bottom: 2%;
    margin: 0% -2% 0% -2%;
}

.page-contentvideo h2 {
    margin: 4% 0%;
}

.page-contentvideo video {
    border-style: outset;
    border-width: 18px;
    border-color: black;
    width: 65% ;
}

/*
Individual Page changes for Article 1 ==============================================
*/

#redpanda-video {
    background-color: rgba(236, 66, 27, 0.32);
}

#giantpanda-video {
    background-color: rgba(17, 93, 21, 0.32);
}

/*
Red Panda and Giant Panda Content Style for Article 2 Section 1 ------------------
*/
.page-contentstyle {
    display: flex;
    align-items: center;
    margin: 0% -2% 0% -2%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* background-repeat: no-repeat makes sure the image does repeat itself to cover the full dimensions of the container */

.page-contentstyle div {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    margin: 5%;
    padding: 2%;
    text-align: justify;
    line-height: 1.5;
}

.page-contentstyle div h3 {
    text-align: left;
    line-height: 1.2;
    font-size: 2em;
}

.page-contentstyle div li,
.page-contentstyle div p {
    margin-bottom: 1.3em;
}

/*
Individual Page changes for Article 2 Section 1 =====================================
*/
#redpanda-content1 {
    background-image: url(Images/image11.jpg);
}

#giantpanda-content1 {
    background-image: url(Images/image9.jpg);
}

/*
Red Panda and Giant Panda Content Style for Article 1 Section 2 -------------------
*/

.page-contentstyle2 {
    display: flex;
    align-items: center;
    padding: 6%;
    margin: 0% -2% 0% -2%;
    column-gap: 7%;
}

.page-contentstyle2 div {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 40px;
    border-top: solid;
    border-bottom: solid;
    border-width: 5px;
}

.page-contentstyle2 div a {
    font-weight: 700;
    background-color: white;
    text-decoration: none;
    padding: 5px 18px;
    border: solid;
    transition: 0.3s ease;
}

.page-contentstyle2 div a:hover {
    background-color: rgba(217, 217, 217, 0.32);
}

.page-contentstyle2 img {
    border-radius: 50%;
    width: 60% ;
}

/*
Individual Page changes for Article 2 Section 2 =======================================
*/

#redpanda-content2 {
    background-color: #852813;
}

#giantpanda-content2 {
    background-color: #0a2d0c;
}

#redpanda-content2 div a {
    color: #852813;
}

#giantpanda-content2 div a {
    color: #0a2d0c;
}

/*
ABOUT US PAGE AND CONTACT US PAGE GENERAL CONTENT BODY STYLE CLASS -------------------------------------------
*/

.generalcontentbody {
    background-color: #dfdede;
    color: black;
    padding: 4%;
    margin: 0% -2% 0% -2%;
    text-align: justify;
}

/*
ABOUT US PAGE, CONTRIBUTE AND CONTACT US PAGE GENERAL TOPIC STYLE CLASS -------------------------------------------
*/

.generaltopic-style {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0% 4%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    height: inherit;
}

/*
ABOUT US PAGE - Article 1
-----------------------------------------------------------===============================--------
-----------------------------------------------------------===============================--------
*/

#aboutus-pagestyle1 {
    background-image: url(Images/aboutus.jpg);
    margin: 0% -2% 0% -2%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0% 11%;
    height: 400px ;
}

/*
About Us Page Quote under Heading -----------------------------------
*/

#aboutus-pagestyle1 p {
    border: solid;
    font-size: 0.8em ;
    padding: 1% ;
    background-color: rgba(0, 0, 0, 0.3);
}

#aboutus-pagestyle1 h2 {
    margin-top: 5% ;
    margin-bottom: 0% ;
}

/*
CONTACT US PAGE
-----------------------------------------------------------===============================--------
-----------------------------------------------------------===============================--------
*/

#contactus-pagestyle1 {
    background-image: url(Images/contact.jpg);
    margin: 0% -2% 0% -2%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0% 11%;
    height: 400px;
}

/*
CONTRIBUTE PAGE
-----------------------------------------------------------===============================--------
-----------------------------------------------------------===============================--------
*/

/*
Contribute Page heading with Donate/Adopt Buttons - Article 1 -------------------------------------------
*/
#contribute-pagestyle1 {
    background-image: url(Images/image13.png);
    margin: 0% -2%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0% 11%;
    height: 400px;
}

#contribute-pagestyle1 h2{
    margin-top: 0%;
    margin-bottom: 2% ;
}

/*
Contribute page Donate/Adopt buttons container -----------------------------------
*/

#contribute-topicbuttons {
    display: flex;
    column-gap: 4%;
    justify-content: center;
}

/*display:flex was used here to horizontally align the buttons and center them using flex properties */

#contribute-pagestyle1 div a {
    font-weight: 700;
    font-size: 0.8em;
    margin: 1%;
    color: white;
    border: solid;
    border-color: white;
    text-decoration: none;
    text-align: center;
    padding: 7px 24px;
    transition: 0.3s ease;
}

#contribute-pagestyle1 div a:hover {
    background-color: rgba(255, 255, 255, 0.93);
    color: black;
}

/*
Contribute Page 3-column content body - Article 2 Section 1- 3 ------    ------------------------------
*/
#contribute-pagestyle2 {
    text-align: center;
    background-color: #dfdede;
    margin: 0% -2% 0%;
    padding: 1% 5% 5% 5%;
    color: black;
}

#contribute-pagestyle2 div {
    display: flex;
    text-align: center;
    background-color: #dfdede;
    column-gap: 2%;
}

/*
Contribute Page EACH content body - Each Section   ------------------------------------------------------
*/
.contribute-contentblock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    background-color: white;
}

.contribute-contentblock p {
    text-align: justify;
    line-height: 1.4;
    height: 61%;
}

.contribute-contentblock h3 {
    height: 8%;
    font-size: 1.3em;
}
